## Online Retailer II Data Set

https://archive.ics.uci.edu/ml/datasets/Online+Retail+II

#### Attribute Information:

<b>InvoiceNo:</b>
Invoice number. Nominal. A 6-digit integral number uniquely assigned to each transaction. If this code starts with the letter 'c', it indicates a cancellation.<br>
<b>StockCode:</b> Product (item) code. Nominal. A 5-digit integral number uniquely assigned to each distinct product.<br>
<b>Description:</b> Product (item) name. Nominal.<br>
<b>Quantity:</b> The quantities of each product (item) per transaction. Numeric.<br>
<b>InvoiceDate:</b> Invoice date and time. Numeric. The day and time when a transaction was generated.<br>
<b>UnitPrice:</b> Unit price. Numeric. Product price per unit in sterling (£).<br>
<b>CustomerID:</b> Customer number. Nominal. A 5-digit integral number uniquely assigned to each customer.<br>
<b>Country:</b> Country name. Nominal. The name of the country where a customer resides.

### Customer segmentation based on behavioural factors.
- Purchasing habits
- Spending habits

In [17]:
# Importing relevant packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# from sklearn.metrics import accuracy_score
# from sklearn.metrics import confusion_metrix
# from sklearn.metrics import roc_curve
# from sklearn.metrics import roc_auc_score
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# from sklearn.linear_model import LogisticRegression
# from sklearn import metrics
# from sklearn.model_selection import train_test_split
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.linear_model import LinearRegression

In [18]:
# Loading the dataset
data = pd.read_excel("online_retail_II.xlsx")

In [19]:
df = pd.DataFrame(data)

In [20]:
# Previewing the first 5 rows of the dataset
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [21]:
# Previewing the last 5 rows of the dataset
df.tail()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [22]:
# The observation of the data set
df.shape[0]

525461

In [23]:
# The attributes of the dataset
df.shape[1]

8

In [24]:
# Column names
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [25]:
# Clean column names to lower case and separate words with '_'
df.columns = df.columns.str.lower()

In [26]:
df.rename(columns = {'stockcode': 'stock_code', 'invoicedate': 'invoice_date', 'customer id':'customer_id'})

,invoice,stock_code,description,quantity,invoice_date,price,customer_id,country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [27]:
# Checking data types
df.dtypes

invoice                object
stockcode              object
description            object
quantity                int64
invoicedate    datetime64[ns]
price                 float64
customer id           float64
country                object
dtype: object

In [28]:
# convert datatypes into correct data types
# invoice - int

In [29]:
# Questions
# Most occuring country/traffic of buyers
# Most popular items
# How many customers are new or first time buyers
# How many customers are returning
# Total value of each transaction

In [30]:
# How many countries are in the dataset?
df.country.nunique()

40

In [31]:
df["country"].unique()

array(['United Kingdom', 'France', 'USA', 'Belgium', 'Australia', 'EIRE',
       'Germany', 'Portugal', 'Japan', 'Denmark', 'Nigeria',
       'Netherlands', 'Poland', 'Spain', 'Channel Islands', 'Italy',
       'Cyprus', 'Greece', 'Norway', 'Austria', 'Sweden',
       'United Arab Emirates', 'Finland', 'Switzerland', 'Unspecified',
       'Malta', 'Bahrain', 'RSA', 'Bermuda', 'Hong Kong', 'Singapore',
       'Thailand', 'Israel', 'Lithuania', 'West Indies', 'Lebanon',
       'Korea', 'Brazil', 'Canada', 'Iceland'], dtype=object)

In [16]:
# How many different products are there?
df.stock_code.nunique()

AttributeError: 'DataFrame' object has no attribute 'stock_code'

In [ ]:
# What top 3 countries have bought the most items?
df.country.value_counts().head(3)

In [ ]:
# Removing duplicate data

In [ ]:
# Deal with null values

In [ ]:
# Convert text data into numerical values

In [ ]:
# Top 10 best selling products
df.description.value_counts().head(10)

In [ ]:
df.invoice.value_counts().head()

In [ ]:
# Top 10 customers
df["customer_id"].value_counts().head(10)

In [ ]:
# Need to maybe group the invoice number together

In [ ]:
df.stock_code.nunique()

In [ ]:
# Null values
df.isnull().sum()

In [ ]:
df.customer_id.duplicated().sum()

In [ ]:
107927 + 2928 # Null values to remove?

In [ ]:
# Are the negatives in the quantity returns?

In [ ]:
df[df["quantity"] == 1]

In [33]:
df.target.head()

AttributeError: 'DataFrame' object has no attribute 'target'